.left-margin{
        margin: 20px;
}

.list-group{
        width: 200px;
}

.nav-pills {
        margin: 0 auto;
        padding: 0;
        width: 475px;
}

.grey {
    color:#7f8c8d;
}

.black {
    color:#000000;
}

#footer { text-align: center; }
#footer ul { list-style: none; }
#footer ul li { display: inline; }

#contact { text-align: center; }
#contact ul { list-style: none; }
#contact ul li div p {text-align: justify;}

.resize {
	width:100%;
	height:auto;
}

.caption {
	text-align:center; 
	padding-top:10px;
}

div.padding{
	padding-bottom: 27px;
}